$include /etc/inputrc
"\e[A": history-search-backward
"\e[B": history-search-forward

set editing-mode vi

# vi command mode
bind -m vi-command 'k: history-search-backward'
bind -m vi-command 'j: history-search-forward'

# vi insert mode
bind -m vi-insert 'Control-l: clear-screen'
