$include /etc/inputrc
"\e[A": history-search-backward
"\e[B": history-search-forward

set editing-mode vi

set keymap vi-commad
k: history-search-backward
j: history-search-forward

set keymap vi-insert
Control-l: clear-screen
